* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.calculator-container {
    background-color: #FEFAF6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #41B06E;
    text-align: center;
    width: 320px;
    margin: auto;
    margin-top: 150px;
}


h2 {
    color: black;
}

.input-section {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #25D366;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #25D366;
}

.result-section {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 44px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #102C57;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0; /* Memastikan navbar berada di bagian atas */
    background: #EADBC8;
    z-index: 1000; /* Menetapkan z-index yang lebih tinggi */
    border-bottom: 1px solid #DAC0A3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style untuk dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #EADBC8; /* warna background dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* efek shadow pada dropdown */
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

/* Menampilkan dropdown saat li "Zakatime" dihover */
.dropdown:hover .dropdown-menu {
    display: block;
}

#copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: gray;
    color: #fff;
}


a.tbl-biru {
    background: #102C57;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #102C57;
    text-decoration: none;
}