* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Open Sans',sans-serif;
}


/* Hero */
.hero 
{
  background: rgba(0, 0, 0, 0.4) url('../Assets/HeroBackground.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  background-repeat: no-repeat;
  min-height: 110vh;
  align-items: center;
  display: flex;
  position: relative;
  background-blend-mode: darken;
  text-align: center;
}

.hero::after
{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 0) 21%);
}

.hero-content 
{
  padding: 1.4rem 6%;
  max-width: 50rem;
  z-index: 1;
  margin-top: -20px;
}

.hero h1 
{
  font-size: 3.2em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 12px;
}

.hero h1 span
{
  color: #eca966;
}

.hero p 
{
  font-size: 17px;
  margin-bottom: 30px;
}

.cta-button 
{
  background-color: #eca966;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Transisi untuk efek hover */
}

.cta-button:hover 
{
  background-color: #5a5337 !important;
}


/* About */
.about 
{
  margin-top: 20px;
  padding: 30px 10px;
  background-color: #ffffff;
  text-align: center;
}

.about .container 
{
  max-width: 1300px;
  margin: 0 auto;
  min-height: 90vh;
}

.about-content 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;

}

.about #bismillah
{
  font-size: 42px; 
  color: #102c57; 
  opacity: 0.8; 
  margin-bottom: 45px; 
  margin-top: 20px;
}

.about-image 
{
  flex: 1 1 40%;
  padding: 20px;
  margin-right: 60px;
}

.about-image img 
{
  max-width: 100%;
  height: auto;
  /* border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.about-text 
{
  flex: 1 1 45%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.about-text h2 
{
  font-size: 50px;
  margin-bottom: 35px;
  color: #364f6b;
}

.about-text p 
{
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  text-align: justify
}


/* Layanan */
.layanan 
{
  background-color: #f5f5f5;
}

.layanan .container 
{
  text-align: center;
  min-height: 75vh;
  margin-left: 100px;
  margin-right: 100px;
}

.layanan h2 
{
  color: #364f6b;
  font-size: 45px;
  margin-bottom: 20px;
}

.layanan p 
{
  font-size: 20px;
  color: black;
  margin-bottom: 100px;
  padding-right: 35px;
  padding-left: 35px;
  line-height: 1.7;
}

.layanan-content 
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.layanan-item 
{
  flex: 1 0 25%;
  margin-bottom: 40px;
  text-align: center;
}

.layanan-item img 
{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.layanan-item .layanan1
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/quranIconFix.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan1:hover
{
  background: url("../Assets/quranIconFixHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item .layanan2
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/hadisIconFix.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan2:hover
{
  background: url("../Assets/hadisIconFixHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item .layanan3
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/tafsirIconFix.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan3:hover
{
  background: url("../Assets/tafsirIconFixHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item .layanan4
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/vidioIconFIx.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan4:hover
{
  background: url("../Assets/vidioIconFIxHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item h3 
{
  font-size: 27px;
  margin-bottom: 10px;
}

.layanan-item p 
{
  font-size: 16px;
  color: black
}


/* Kategori Box */
.content
{
  background-image: url(../Assets/PermalahanBG3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content .container 
{
  max-width: 1200px;
  margin: 0 auto;
}

.content h2 
{
  color: #364f6b;
  font-size: 45px;
  margin-bottom: 100px;
}

.content 
{
  text-align: center;
}

.category-box 
{
  display: flex;
  flex-wrap: wrap;
}

.category 
{
  flex: 1 0 25%;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.category:hover {
  transform: scale(1.03);
}


.category-content 
{
  border: 2px solid #EADBC8;
  border-radius: 7px;
  align-items: center;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  max-width: 257px !important;
  max-height: 332px !important;
}

.category img 
{
  border-radius: 13px;
  padding: 7px;
  width: 256px;
  height: 200px; 
  object-fit: cover; 
  align-items: center;
  margin-bottom: 15px;
}

.category h3 
{
  font-size: 19px;
  margin-bottom: 15px;
}

.category button {
  padding: 10px 15px;
  background-color: #102C57;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
  margin-bottom: 20px;
}

.category button:hover {
  background-color: #204172;
}

.search-bar 
{
  position: relative;
  display: inline-block;
  margin: 20px;
}

#search-input 
{
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  width: 400px;
  transition: width 0.4s ease-in-out;
}

#search-input:focus 
{
  width: 550px;
}

.search-bar button 
{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #102C57;; /* warna hijau */
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover 
{
  background-color: #204172; /* sedikit lebih gelap saat hover */
}


@media screen and (max-width: 1025px)
{

  .category-content 
  {
    border: 2px solid #EADBC8;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 299px !important;
    max-height: 3310px !important;
  }

} 


/* Responsive Tablet*/
@media screen and (max-width: 769px) 
{
  
  .about
  {
    padding-bottom: 75px;
  }

  .about-content 
  {
    flex-direction: column;
    align-items: center;
  }

  .about-image 
  {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 60%;
  }

  .about-image img 
  {
    width: 100%;
    height: auto;
  }

  .about-text 
  {
      flex: 1 1 100%;
      padding: 20px;
      margin-left: 15px;
      margin-right: 15px;
  }

  .about-text h2 
  {
    font-size: 40px;
    margin-bottom: 45px;
    color: #364f6b;
    text-align: center;
  }

  .about-text p 
  {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: justify
  }

  .about #bismillah
  {
    font-size: 40px; 
    color: #102c57; 
    opacity: 0.8; 
    margin-bottom: 45px; 
    margin-top: 20px;
  }


  .layanan .container 
  {
    text-align: center;
    min-height: 180vh;
    margin-left: 100px;
    margin-right: 100px;
  }

  .layanan-item 
  {
    flex: 1 0 50%;
    margin-bottom: 0px;
    text-align: center;
  }

  .layanan h2 
  {
    color: #364f6b;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .layanan p 
  {
    font-size: 17px;
    color: black;
    margin-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
    line-height: 1.7;
  }

  .category 
  {
    flex: 1 0 50%;
    padding: 20px;
    position: relative;
  }


  .content h2 
  {
    color: #364f6b;
    font-size: 40px;
    margin-bottom: 100px;
  }

  .category-content 
  {
    border: 2px solid #EADBC8;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    background-color: white;    
    max-width: 275px !important;
    max-height: 310px !important;
  }
  
  .category img 
  {
    border-radius: 13px;
    padding: 7px;
    width: 270px;
    height: 200px; 
    object-fit: cover; 
    align-items: center;
    margin-bottom: 15px;
  }

  .content .container 
  {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 65px;
    margin-right: 65px;
  }

  #search-input 
  {
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 250px;
    transition: width 0.4s ease-in-out;
  }

  #search-input:focus 
  {
    width: 370px;
  }

}


/* Responsive Handphone */
@media screen and (max-width: 426px) 
{

  .hero 
  {
    background-position: -740px center;
    background-size: cover;
  }

  .hero h1 
  {
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    margin-bottom: 12px;
  }

  .hero h1 span 
  {
    color: #eca966;
  }

  .hero p 
  {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .category-content 
  {
    border: 2px solid #EADBC8;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 400px !important;
    max-height: 340px !important;
  }

  .hero-content 
  {
    padding: 1.4rem 6%;
    max-width: 50rem;
    z-index: 1;
    margin-top: -50px;
  }


  .about-text h2 
  {
    font-size: 27px;
    margin-bottom: 30px;
  }

  .about-text p 
  {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  .about-image 
  {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 80%;
  }

  .about #bismillah
  {
    font-size: 25px; 
    color: #102c57; 
    opacity: 0.8; 
    margin-bottom: 45px; 
    margin-top: 20px;
  }


  .layanan .container 
  {
    text-align: center;
    min-height: 260vh;
    margin-left: 0px;
    margin-right: 0px;
  }

  .layanan-item 
  {
    flex: 1 0 100%;
    margin-bottom: 0px;
    text-align: center;
  }

  .layanan h2 
  {
    margin-top: 50px;
    color: #364f6b;
    font-size: 27px;
    margin-bottom: 20px;
  }

  .layanan p 
  {
    font-size: 14px;
    color: black;
    margin-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
    line-height: 1.7;
  }


  .content h2 
  {
    color: #364f6b;
    font-size: 27px;
    margin-bottom: 50px;
  }

  .category 
  {
    flex: 1 0 100%;
    padding: 20px;
    position: relative;
  }

  .content .container 
  {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .category-content 
  {
    border: 2px solid #EADBC8;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .category img 
  {
    border-radius: 13px;
    padding: 7px;
    width: 270px;
    height: 220px; 
    object-fit: cover; 
    align-items: center;
    margin-bottom: 25px;
  }

  #search-input 
  {
    padding: 10px 20px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 170px;
    transition: width 0.4s ease-in-out;
  }

  #search-input:focus 
  {
    width: 205px;
  }

}

