* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 44px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #102C57;
}

.logo img {
    display: block;
    width: 80px;
    height: auto;
}
.menu {
    float: right;
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #EADBC8;
    z-index: 1000;
    border-bottom: 1px solid #DAC0A3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #EADBC8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    float: none;
    padding: 10px;
}

.dropdown-menu li a {
    color: black;
}

.dropdown-menu li a:hover {
    background-color:#EADBC8;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

a.tbl-biru {
    background: #102C57;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #102C57;
    text-decoration: none;
}


@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 70%;
    }

    /* .logo a {
        display: block;
        width: 50%;
        text-align: center;
        line-height: 20px;

    } */

    nav .menu {
        width: 90%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 40px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

}

/* Responsive adjustments */
@media screen and (max-width: 769px) {
    .category-content {
      flex: 1 0 45%;
    }
  }
  
  @media screen and (max-width: 426px) {
    .category-content {
      flex: 1 0 100%;
    }
  }