* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial',sans-serif;

}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 44px;
    font-weight: 800;
    float: left;
    font-family: 'Arial',sans-serif;
    color: #102C57;
}

.logo img {
    display: block;
    width: 80px;
    height: auto;
    padding-right : 300px;
}
.menu {
    float: right;
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #EADBC8;
    z-index: 1000;
    border-bottom: 1px solid #DAC0A3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #EADBC8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    float: none;
    padding: 10px;
}

.dropdown-menu li a {
    color: black;
}

.dropdown-menu li a:hover {
    background-color:#EADBC8;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial',sans-serif;
    color: #364f6b;
}

h2 {
    font-family: 'Arial',sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #102C57;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #102C57;
    text-decoration: none;
}

a.tbl-pink {
    background: #102C57;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'Arial',sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: #dedede;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'Arial',sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: gray;
    color: #fff;
}
#menu-toggle {
    display: none; /* Hide by default for larger screens */
    cursor: pointer;
    font-size: 24px;
}

/* Kontainer untuk daftar Surah */
.surah-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #102C57;
}

.surah-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Layout grid untuk daftar Surah */
.daftar-surah {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Setiap kolom Surah */
.daftar-surah > div {
    flex: 0 1 calc(33.333% - 20px);
    margin-bottom: 20px;
}

/* Styling untuk setiap item Surah */
.item-surah {
    width: 23%;
    margin: 10px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 7px;
    box-shadow: 0 2px 5px #102C57;
}

/* Styling untuk nama Surah */
.item-surah h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

/* Styling untuk deskripsi Surah */
.item-surah p {
    color: #666;
    margin: 5px 0;
}

.ayat-item {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.ayat-container {
    margin-top: 10px;
}

.ayat-item {
padding: 10px;
background-color: #e9ecef;
border-radius: 5px;
}

.custom-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #102C57;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Hover effect */
.custom-button:hover {
    background-color: #2e366b; /* Warna latar belakang saat dihover */
}

.hadith-rack {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.hadith-arabic {
    font-family: 'Arial',sans-serif;
    font-size: 18px;
    line-height: 1.8;
    direction: rtl; /* Right-to-left direction */
    text-align: justify; /* Justify text for better readability */
    margin-top: 10px;
}

.hadith-rack strong {
    color: #333;
}


@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 70%;
    }

    /* .logo a {
        display: block;
        width: 50%;
        text-align: center;
        line-height: 20px;

    } */

    nav .menu {
        width: 90%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 40px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

}

.card {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-bottom: 0.5px solid #ddd;
    font-size: 1rem;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.custom-page-item {
    margin: 0 3px;
}

.custom-page-item .custom-page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.custom-page-item.active .custom-page-link {
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

nav[aria-label="Page navigation"] {
    z-index: 1;
}
.custom-page-item.disabled .custom-page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #dee2e6;
}

.custom-page-item .custom-page-link:hover {
    position: relative;
    z-index: -1;
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.about {
    background-color: #ffffff;
    padding: 20px 10px;
    text-align: center;
  }

  .daftar-surah {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .category-content {
    border: 2px solid #EADBC8;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    flex: 1 0 30%;
    margin: 10px;
    box-sizing: border-box;
  }

  .cta-button {
    background-color: #eca966;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .cta-button:hover {
    background-color: #5a5337;
  }

  .surah-container h1 {
    margin-bottom: 20px;
  }

  .item-surah h2 {
    margin: 10px 0 5px 0;
    font-size: 1.5em;
  }

  .item-surah h3 {
    margin: 5px 0;
    font-size: 1.2em;
  }

  .item-surah p {
    margin: 5px 0;
  }

  .audio-container {
    margin-top: 10px;
  }

  .pagination {
    margin-top: 20px;
  }

  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .category-content {
      flex: 1 0 45%;
    }

    .wrapper {
        width: 90%; /* Gunakan 90% dari lebar viewport */
        margin: 0 auto; /* Atur margin atas dan bawah menjadi 0, dan otomatis di tengah */
        position: relative; /* Tetapkan posisi ke relatif */
        max-width: 1100px; /* Batasi lebar maksimum untuk mempertahankan kejelasan konten */
    }

     .logo img {
       display:none;
    }

    a.tbl-biru {
        padding: 10px 15px; /* Sesuaikan padding untuk ukuran layar yang lebih kecil */
        margin-top: 10px; /* Sesuaikan margin atas jika diperlukan */
    }
    .menu {
        width: auto; /* Reset width */
        float: right; /* Align the menu to the right */
    }

    #menu-toggle {
        display: block; /* Display the toggle menu icon */
        float: right; /* Align the toggle menu icon to the right */
        margin-top: 20px; /* Adjust the top margin */
        margin-right: 20px; /* Adjust the right margin */
        cursor: pointer; /* Add cursor pointer */
    }

    nav ul {
        display: none; /* Hide the menu items by default */
    }

    nav ul.show {
        display: flex; /* Mengatur tata letak kontainer menjadi flex */
    flex-direction: column; /* Menetapkan arah tata letak menjadi vertikal */
    align-content: center;
    }

    nav ul li {
        display: flex; /* Mengatur tata letak kontainer menjadi flex */
    flex-direction: row; /* Menetapkan arah tata letak menjadi vertikal */
    }

    nav ul li a {
        top:200px;
        display: block; /* Display the menu item links as block elements */
        padding: 10px; /* Add padding to the menu item links */
    }

    .dropdown-menu {
        position: static; /* Change the position of dropdown menu to static */
        display: none; /* Hide the dropdown menu by default */
    }

    .dropdown:hover .dropdown-menu {
        display: block; /* Hide the dropdown menu on hover */
    }
}


  @media screen and (max-width: 425px) {
    .category-content {
      flex: 1 0 100%;
    }

    .wrapper {
        width: 100%; /* Gunakan 100% dari lebar viewport */
        padding: 0; /* Hilangkan padding */
    }

    nav {
        width: 100%; /* Gunakan lebar penuh untuk nav */
        margin: 0; /* Hilangkan margin */
        padding: 0; /* Hilangkan padding */
    }

    .menu {
        width: 100%; /* Gunakan lebar penuh untuk menu */
    }

    nav ul {
        width: 100%; /* Gunakan lebar penuh untuk ul */
        padding: 0; /* Hilangkan padding */
        margin: 0; /* Hilangkan margin */
    }

    nav ul.show {
        display: flex; /* Mengatur tata letak kontainer menjadi flex */
        flex-direction: column; /* Menetapkan arah tata letak menjadi vertikal */
        align-items: flex-start; /* Rata kiri */
    }

    nav ul li {
        width: 100%; /* Gunakan lebar penuh untuk li */
    }

    nav ul li a {
        width: 100%; /* Gunakan lebar penuh untuk tautan */
    }

    #menu-toggle {
        margin-right: 0; /* Atur margin kanan ke 0 */
    }

  }
