* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Open Sans',sans-serif;
}


/* Navbar */
.navbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EADBC8;
  padding: 17px;
  color: black;
}

.navbar-left 
{
  display: flex;
  align-items: center;
}

.logo 
{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: #102C57;
  font-weight: 800;
}

.navbar-right 
{
  display: flex;
  align-items: center;
}

.menu 
{
  list-style: none;
  display: flex;
}

.menu li 
{
  margin-right: 20px;
}

.menu li:last-child 
{
  margin-right: 0;
}

.menu li a 
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Toggle Button */
.toggle-button 
{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  cursor: pointer;
}

.toggle-button span 
{
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}


/* Hero */
.hero 
{
  background: rgba(0, 0, 0, 0.4) url('../Assets/HeroBackground.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  background-repeat: no-repeat;
  min-height: 110vh;
  align-items: center;
  display: flex;
  position: relative;
  background-blend-mode: darken;
}

.hero::after
{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 0) 21%);
}

.hero-content 
{
  padding: 1.4rem 6%;
  max-width: 50rem;
  z-index: 1;
  margin-top: -20px;
}

.hero h1 
{
  font-size: 3.2em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 12px;
}

.hero h1 span
{
  color: #eca966;
}

.hero p 
{
  font-size: 17px;
  margin-bottom: 30px;
}


.cta-button 
{
  background-color: #eca966;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Transisi untuk efek hover */
}

.cta-button:hover 
{
  background-color: #5a5337 !important;
}


/* About */
.about 
{
  margin-top: 20px;
  padding: 30px 10px;
  background-color: #ffffff;
  text-align: center;
}

.about .container 
{
  max-width: 1300px;
  margin: 0 auto;
  min-height: 90vh;
}

.about-content 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;

}

.about #bismillah
{
  font-size: 42px; 
  color: #102c57; 
  opacity: 0.8; 
  margin-bottom: 45px; 
  margin-top: 20px;
}

.about-image 
{
  flex: 1 1 40%;
  padding: 20px;
  margin-right: 60px;
}

.about-image img 
{
  max-width: 100%;
  height: auto;
  /* border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.about-text 
{
  flex: 1 1 45%;
  padding: 20px;
  background-color: #f5f5f5; /* Tambahkan background color */
  border-radius: 15px; /* Tambahkan border-radius */
}

.about-text h2 
{
  font-size: 50px;
  margin-bottom: 35px;
  color: #364f6b;
}

.about-text p 
{
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  text-align: justify
}


/* Layanan */
.layanan 
{
  background-color: #f5f5f5;
}

.layanan .container 
{
  text-align: center;
  min-height: 75vh;
  margin-left: 100px;
  margin-right: 100px;
}

.layanan h2 
{
  color: #364f6b;
  font-size: 45px;
  margin-bottom: 20px;
}

.layanan p 
{
  font-size: 20px;
  color: black;
  margin-bottom: 100px;
  padding-right: 35px;
  padding-left: 35px;
  line-height: 1.7;
}

.layanan-content 
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.layanan-item 
{
  flex: 1 0 25%;
  margin-bottom: 40px;
  text-align: center;
}

.layanan-item img 
{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.layanan-item .layanan1
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/quranIconFix.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan1:hover
{
  background: url("../Assets/quranIconFixHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item .layanan2
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/hadisIconFix.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan2:hover
{
  background: url("../Assets/hadisIconFixHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item .layanan3
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/tafsirIconFix.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan3:hover
{
  background: url("../Assets/tafsirIconFixHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item .layanan4
{ 
  width: 200px;
  height: 200px;
  background: url("../Assets/vidioIconFIx.png") no-repeat center;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.layanan-item .layanan4:hover
{
  background: url("../Assets/vidioIconFIxHover.png") no-repeat center;
  scale: 1.05;
}

.layanan-item h3 
{
  font-size: 27px;
  margin-bottom: 10px;
}

.layanan-item p 
{
  font-size: 16px;
  color: black
}


/* Kategori Box */
.content
{
  background-image: url(../Assets/PermalahanBG3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content .container 
{
  max-width: 1200px;
  margin: 0 auto;
}

.content h2 
{
  color: #364f6b;
  font-size: 45px;
  margin-bottom: 115px;
}

.content 
{
  text-align: center;
}

.category-box 
{
  display: flex;
  flex-wrap: wrap;
}

.category 
{
  flex: 1 0 25%;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.category:hover {
  transform: scale(1.03); /* Scale up on hover */
}


.category-content {
  border: 3px solid #333;
  padding: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px; /* Add border radius for smoother appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.category img {
  width: 310px;
  height: 200px; /* Adjust height for consistency */
  object-fit: cover; /* Ensure images maintain aspect ratio */
  border-radius: 10px; /* Add border radius to images */
  align-items: center;
}

.category h3 
{
  font-size: 20px;
  margin-bottom: auto;
}

.category button {
  padding: 10px 20px;
  background-color: #102C57;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px; /* Add border radius to buttons */
}

.category button:hover {
  background-color: #1e3e6f; /* Darken button on hover */
}



/* Footer */
footer 
{
  background-color: grey;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

footer p 
{
  font-size: 14px;
}


/* Responsive Tablet*/
@media screen and (max-width: 769px) 
{
  
  .navbar-right 
  {
    display: none;
  }

  .toggle-button 
  {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .menu 
  {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 80px;
    right: 20px;
  }

  .menu li 
  {
    margin: 10px 0;
  }

  .about
  {
    padding-bottom: 75px;
  }

  .about-content 
  {
    flex-direction: column;
    align-items: center;
  }

  .about-image 
  {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 60%;
  }

  .about-image img 
  {
    width: 100%;
    height: auto;
  }

  .about-text 
  {
      flex: 1 1 100%;
      padding: 20px;
      margin-left: 15px;
      margin-right: 15px;
  }

  .about-text h2 
  {
    font-size: 40px;
    margin-bottom: 45px;
    color: #364f6b;
    text-align: center;
  }

  .about-text p 
  {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: justify
  }

  .about #bismillah
  {
    font-size: 40px; 
    color: #102c57; 
    opacity: 0.8; 
    margin-bottom: 45px; 
    margin-top: 20px;
  }

  .layanan .container 
  {
    text-align: center;
    min-height: 180vh;
    margin-left: 100px;
    margin-right: 100px;
  }

  .layanan-item 
  {
    flex: 1 0 50%;
    margin-bottom: 0px;
    text-align: center;
  }

  .layanan h2 
  {
    color: #364f6b;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .layanan p 
  {
    font-size: 17px;
    color: black;
    margin-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
    line-height: 1.7;
  }

  .category 
  {
    flex: 1 0 50%;
    padding: 20px;
    position: relative;
  }
  

}


/* Responsive Handphone */
@media screen and (max-width: 426px) 
{

  body 
  {
    text-align: center;
  }

  .hero 
  {
    background-position: -740px center;
    background-size: cover;
  }

  .hero h1 
  {
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    margin-bottom: 12px;
  }

  .hero h1 span 
  {
    color: #eca966;
  }

  .hero p 
  {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .cta-button 
  {
    background-color: #eca966;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .hero-content 
  {
    padding: 1.4rem 6%;
    max-width: 50rem;
    z-index: 1;
    margin-top: -50px;
  }

  .about-text h2 
  {
    font-size: 27px;
    margin-bottom: 30px;
  }

  .about-text p 
  {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  .about-image 
  {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 80%;
  }

  .about #bismillah
  {
    font-size: 25px; 
    color: #102c57; 
    opacity: 0.8; 
    margin-bottom: 45px; 
    margin-top: 20px;
  }

  .layanan .container 
  {
    text-align: center;
    min-height: 260vh;
    margin-left: 0px;
    margin-right: 0px;
  }

  .layanan-item 
  {
    flex: 1 0 100%;
    margin-bottom: 0px;
    text-align: center;
  }

  .layanan h2 
  {
    margin-top: 50px;
    color: #364f6b;
    font-size: 27px;
    margin-bottom: 20px;
  }

  .layanan p 
  {
    font-size: 14px;
    color: black;
    margin-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
    line-height: 1.7;
  }

}

