* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Open Sans',sans-serif;
}


.hero
{
  background-image: linear-gradient(to bottom, #1e1e1e 0%, #1e1e1e  60%, #ffff 60%, #ffff 100%);
}

.hero .hero-container 
{
  margin: 0 auto;
  min-height: 125vh;
  display: flex; 
  justify-content: center; 
}

.hero .hero-content 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1
{
 text-align: center;
 color: white;
 font-size: 42px;
 margin-bottom: 35px;
}

.hero img
{ 
  height: 500px;
  width: 800px;
  border: 2px solid #FEFAF6;
  
}

.center-button 
{
  background-color: #102c57;
  color: white !important; 
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px; 
  font-size: 13px;
  margin-top: 80px;
  text-decoration: none;
}

.center-button:hover 
{
  background-color: #1A3A72; /* Warna tombol saat di-hover */
}

.hero #bismillah
{
  font-size: 32px; 
  color: #102c57; 
  opacity: 0.8; 
  margin-bottom: 30px; 
  margin-top: 120px;
}


.dalil h2
{
  text-align: center;
  font-size: 40px;
  color: #102c57; 
  margin-top: 0px;
}

hr
{
  width: 110px;
  margin: 20px auto;
  height: 4.5px;
  background-color: #102c57;
}

.dalil .dalil-container 
{
  min-height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.dalil .dalil-box 
{
  background-color: #fff;
  border: 2px solid #102c57;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  margin-top: 0px;
}

.dalil .dalil-title 
{
  font-size: 24px;
  color: #102c57;
  margin-bottom: 10px;
  margin-left: 150px;
}

.dalil .dalil-content 
{
  padding: 15px;
  border-radius: 5px;
  text-align: end;
  font-size: 26px;
  color: black;
  margin-bottom: 10px;
  line-height: 1.5;
}

.dalil .dalil-translation 
{
  font-size: 16px;
  color: black;
  line-height: 1.5;
}

/* Tombol Tafsir dan Tatbhiq */
.tafsir-button,
.tatbhiq-button 
{
    background-color: #102c57;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.tafsir-button:hover,
.tatbhiq-button:hover 
{
    background-color: rgb(50, 90, 160);   
}

#popup-container 
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#popup-content 
{
  background-color: #fff;
  padding: 20px;
  width: 750px;
  height: 550px;
  overflow-y: auto;
  position: relative;
}

#close-popup 
{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

#close-popup:hover 
{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  color: blue;
}

#popup-title 
{
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
}

#popup-text 
{
  font-size: 17;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  letter-spacing: 0.7px;
  line-height: 1.7;
}


.tafsir
{
  background-color: #f5f5f5;
}

.tafsir .tafsir-container
{
  min-height: 90vh;
}

.tafsir h2
{
  text-align: center;
  font-size: 40px;
  color: #102c57; 
}


/* Responsive Tablet*/
@media screen and (max-width: 769px) 
{
  
  .hero .hero-container 
  {
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .hero-content 
  {
    width: 100%;
  }

  .hero .center-button 
  {
    margin-top: 20px;
    font-size: 12px;
    padding: 8px 12px;
    margin-bottom: 0px;
  }

  .hero h1 
  {
    font-size: 32px;
    margin: 20px 0;
  }

  .hero img 
  {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }

  .hero .bismillah 
  {
    font-size: 24px;
    margin: 20px 0;
  }


  .dalil .dalil-title 
  {
    font-size: 21px;
    color: #102c57;
    margin-bottom: 10px;
    margin-left: 80px;
  }

  .dalil .dalil-content 
  {
    padding: 10px;
    border-radius: 5px;
    text-align: end;
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .dalil .dalil-translation 
  {
    font-size: 14px;
    color: black;
    line-height: 1.5;
  }

  .tafsir-button,
  .tatbhiq-button 
  {
      background-color: #102c57;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      font-size: 13px;
      margin-right: 5px;
      transition: background-color 0.3s;
      margin-top: 20px;
  }

  #popup-content 
  {
    background-color: #fff;
    padding: 20px;
    width: 650px;
    height: 450px;
    overflow-y: auto;
    position: relative;
  }

}


/* Responsive Handphone */
@media screen and (max-width: 426px) 
{

  body 
  {
    text-align: center;
  }

  .hero .hero-container 
  {
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }

  .hero-content 
  {
    width: 100%;
  }

  .hero .center-button 
  {
    margin-top: 15px;
    font-size: 12px;
    padding: 6px 10px;
  }

  .hero h1 
  {
    font-size: 24px;
    margin: 15px 0;
  }

  .hero img 
  {
    width: 90%;
    height: auto;
    margin: 20px 0; 
  }

  .hero .bismillah 
  {
    margin-top: 15px !important;
    font-size: 22px !important;
    margin: 15px 0;
  }

  
  .dalil h2
  {
    text-align: center;
    font-size: 25px;
    color: #102c57; 
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .dalil .dalil-container 
  {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .dalil .dalil-box 
  {
    background-color: #fff;
    border: 2px solid #102c57;
    border-radius: 10px;
    padding: 15px;
    width: 99%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    margin-top: 0px;
  }

  .dalil .dalil-title 
  {
    font-size: 15px;
    color: #102c57;
    margin: 0px;
    margin-bottom: 10px;
  }

  .dalil .dalil-content 
  {
    padding: 10px;
    border-radius: 5px;
    text-align: end;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .dalil .dalil-translation 
  {
    font-size: 13px;
    color: black;
    line-height: 1.5;
  }

  .tafsir-button,
  .tatbhiq-button 
  {
      background-color: #102c57;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      font-size: 11px;
      margin-right: 5px;
      transition: background-color 0.3s;
      margin-top: 20px;
  }

  #popup-container 
  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  #popup-content 
  {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 500px;
    overflow-y: auto; 
    position: relative;
  }

  #close-popup 
  {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
  }

  #close-popup:hover 
  {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    color: blue;
  }

  #popup-title 
  {
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  #popup-text 
  {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    letter-spacing: 0.7px;
  }

}